<div class="ribbon-cookie" [style.display]="ribbonDisplay">
  <div class="container">
    <div class="row" style="padding-left: 20px; padding-right: 20px">
      <div class="col-12 col-sm-11 col-md-5 col-xl-7">
        <span style="color: #fff"
          >By continuing to browse without changing your cookie options, you accept the use of cookies for the provision of services and
          offers specific to your interests.</span
        >
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-2" style="align-self: center">
        <button class="btn btn-light" type="button" (click)="closeRibbon()">Accept</button>
      </div>
    </div>
  </div>
</div>
