<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="moodHistory">
      <h2 data-cy="moodHistoryDetailsHeading"><span>Mood History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ moodHistory.id }}</span>
        </dd>
        <dt><span>Identifier</span></dt>
        <dd>
          <span>{{ moodHistory.identifier }}</span>
        </dd>
        <dt><span>Submission Date</span></dt>
        <dd>
          <span>{{ moodHistory.submissionDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Mood Status</span></dt>
        <dd>
          <span>{{ moodHistory.moodStatus }}</span>
        </dd>
        <dt><span>Mood Details</span></dt>
        <dd>
          <span>{{ moodHistory.moodDetails }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/mood-history', moodHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
