<!--@author lrasata-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <h1><span>How are you doing today ?</span></h1>

    <span [ngSwitch]="account !== null">
      <span class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </span>

      <span *ngSwitchCase="false">
        <div class="row">
          <div class="col-md-12 text-center">
            <button
              type="button"
              [ngClass]="
                toggleButtonMap.get('HAPPY') ? selectedButton() + ' btn-outline-success' : unselectedButton() + ' btn-outline-success'
              "
              (click)="setMoodStatus('HAPPY')"
            >
              <span>Happy</span>
            </button>
            <button
              type="button"
              [ngClass]="toggleButtonMap.get('NORMAL') ? selectedButton() + ' btn-outline-info' : unselectedButton() + ' btn-outline-info'"
              (click)="setMoodStatus('NORMAL')"
            >
              <span>Just normal really</span>
            </button>
          </div>
        </div>
        <div class="row margin-top-button">
          <div class="col-md-12 text-center">
            <button
              type="button"
              [ngClass]="
                toggleButtonMap.get('MEH') ? selectedButton() + ' btn-outline-warning' : unselectedButton() + ' btn-outline-warning'
              "
              (click)="setMoodStatus('MEH')"
            >
              <span>A bit "meh"</span>
            </button>
            <button
              type="button"
              [ngClass]="
                toggleButtonMap.get('GRUMPY') ? selectedButton() + ' btn-outline-danger' : unselectedButton() + ' btn-outline-danger'
              "
              (click)="setMoodStatus('GRUMPY')"
            >
              <span>Grumpy</span>
            </button>
          </div>
        </div>
        <div class="row margin-top-button">
          <div class="col-md-12 text-center">
            <button
              type="button"
              [ngClass]="
                toggleButtonMap.get('STRESSED') ? selectedButton() + ' btn-outline-dark' : unselectedButton() + ' btn-outline-dark'
              "
              (click)="setMoodStatus('STRESSED')"
            >
              <span>Stressed out - not a happy camper</span>
            </button>
          </div>
        </div>
        <div class="row margin-top-button">
          <div class="col-md-12 text-center">
            <textarea
              rows="4"
              cols="50"
              placeholder="Type your message here..."
              [(ngModel)]="textValue"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </div>
        </div>
        <div class="row margin-top-button">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-secondary btn-lg" (click)="onSubmit()" [disabled]="!isUserAllowedToSubmit()">
              <span>Submit</span>
            </button>
            <jhi-alert></jhi-alert>
            <br />
            <span class="alert alert-warning" *ngIf="!isUserAllowedToSubmit()">
              Sorry, you have already submitted your response for today, try again tomorrow!
            </span>
          </div>
        </div>
      </span>
    </span>
  </div>
  <div class="col-md-2"></div>
</div>
