<div>
  <h2 id="page-heading" data-cy="MoodHistoryHeading">
    <span>Mood Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mood-history"
        [routerLink]="['/mood-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Mood History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moodHistories?.length === 0">
    <span>No moodHistories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="moodHistories && moodHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Identifier</span></th>
          <th scope="col"><span>Submission Date</span></th>
          <th scope="col"><span>Mood Status</span></th>
          <th scope="col"><span>Mood Details</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moodHistory of moodHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mood-history', moodHistory.id, 'view']">{{ moodHistory.id }}</a>
          </td>
          <td>{{ moodHistory.identifier }}</td>
          <td>{{ moodHistory.submissionDate | formatMediumDate }}</td>
          <td>{{ moodHistory.moodStatus }}</td>
          <td>{{ moodHistory.moodDetails }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mood-history', moodHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mood-history', moodHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(moodHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
